h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 290601232-06. Verificar la calidad del producto aplicando técnicas de muestreo.