.container
    .header-ecored
        h1 1. Procedimientos de inspecciones de calidad
    .jumbotron.bg-white 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.jpg", alt="").img-fluid
        .caja-azul
            p El método para desarrollar las actividades de inspección de productos de las empresas de confecciones puede realizarse mediante la observación o con la ayuda de la tecnología, haciendo el procedimiento de inspección, semi o automatizado completamente; pero la labor del inspector no es reemplazada al analizar y hallar las soluciones en los errores y problemas presentados.
            p Es necesario determinar procedimientos en una empresa, porque organiza las actividades obteniendo mejor eficiencia y optimizando los recursos. Teniendo en cuenta lo anterior, es necesario establecer los procedimientos de las inspecciones para asegurar el excelente desempeño de las actividades de calidad de la empresa.
            p Conforme a la optimización de los recursos, utilizar el muestreo en la inspección aumenta la eficiencia de la actividad de inspección, combinada con la utilización de las técnicas de manufactura esbelta.
    
        .sub-ecored#11.mt-5
            h2 1.1. Procedimiento de inspección de calidad con muestreo según normatividad 
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img3.svg", alt="").img-fluid
            .col-6  
                p Con el fin de seguir los lineamientos establecidos en las normas técnicas de calidad como en la normatividad de la empresa, se presenta el procedimiento de la inspección utilizando el muestreo con el fin de estandarizar los procesos, además de tener en cuenta las normas técnicas asociadas para dar soporte a la toma de decisiones al momento de inspeccionar un producto.
                p Es necesario recalcar la elección del tamaño de la muestra, el cual es de especial atención, porque debe garantizar la representación del lote, pues una muestra pequeña puede ser insuficiente para aceptar o rechazar un lote o una muestra grande dificulta la eficacia de la medición.   
        p.mt-5 Para elegir el tamaño de la muestra es necesario tener en cuenta el plazo de entrega de la producción, la duración de la inspección, la disponibilidad de los productos y los costos unitarios del producto.
        p Antes de examinar el producto hay que considerar que el procedimiento tiene en cuenta técnicas de Manufactura Esbelta que apoyan la gestión de calidad de una planta, como son:  Heijunka, Control visual, Kanban, Just in Time  (JIT) o Justo a Tiempo, Jidoka, entre otras y las cuales ayudan al control de la variabilidad de los procesos.
        .sub-ecored.mt-5
            h3 Heijunka 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img4.jpg", alt="").img-fluid
        .caja-azul
            p Es la técnica para planificar y nivelar los pedidos teniendo en cuenta la cantidad y la variedad de productos de cada pedido. Es necesario conocer la demanda, aplicar la estandarización del producto y el proceso con el fin de establecer el manejo de lotes pequeños o utilizar un lote único para mantener una producción continua y nivelada.
            p Para aplicar esta técnica se utilizan células de trabajo las cuales le caracterizan por ser flexibles, las cuales se unen para obtener una célula de trabajo conjunta en donde los procesos van coordinados para conseguir el producto planificado.
        p.mt-5 Las celulas o módulos de producción son pequeñas empresas dentro de la planta, las cuales se crean teniendo en cuenta lo siguiente:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Identificar familias de productos, por ejemplo, módulos de pantalón o de camiseta.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Contar con personal polivalente.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Disponer de personal de apoyo flexible, proactivo y que aporte ideas para el montaje de los módulos o celdas nuevas.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Diseñar sistemas “anti-error” en cada estación o puesto de trabajo del módulo.
        p.mt-5 Un sistema de producción que adopta la implementación de células de producción permite mejorar la eficiencia porque:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Mejora el cumplimiento de los requisitos de calidad y de tiempo establecidos por el cliente.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Reduce el inventario en proceso al manejar pequeños lotes para el flujo continuo entre puestos de trabajo. 
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Optimiza el espacio de la planta al reducir la distancia entre los puestos de trabajo.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Reduce el transporte al disminuir el espacio entre las máquinas y la organización del proceso.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Mejora el uso de la maquinaria y equipos por la mejore en la planificación y el flujo de los procesos.
        p.mt-5 Una de las herramientas utilizadas son los balanceos de línea en hojas de cálculo o programas especiales. Para la distribución de cargas de trabajo, se tiene en cuenta además de la eficiencia del coequipero, la calidad aportada en la célula de trabajo con el fin de mejorar en conjunto desempeño y calidad.   
        .sub-ecored.mt-5
            h3 Control visual
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img5.jpg", alt="").img-fluid
        .caja-azul
            p Es el conjunto de técnicas para el control y comunicación visual, su finalidad es facilitar el conocimiento a los empleados, sobre el estado del sistema y los avances de las acciones de mejora. El control visual hace que participe todo el personal, porque al conocer cómo afectan los esfuerzos de su trabajo en los resultados, hace que asuman la responsabilidad y genere compromiso para alcanzar las metas de la empresa.
            p Esta técnica presenta ventajas como la rápida captación de la información y su fácil difusión, aumenta la motivación del personal, por tener la oportunidad de contribuir y recibir reconocimientos. 
        p.mt-5 Para su aplicación utiliza algunos métodos como: 
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Tableros de gestión visual, los cuales brindan un contexto de la situación a analizar.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Señales de monitorización de máquinas: Por ejemplo, identificar la necesidad de mantenimiento.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Control estadístico del proceso con la aplicación de las herramientas de calidad, las cuales se publican en lugares visibles de la empresa.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Registro de problemas.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Actividades de mejora.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Identificación de defectos y reprocesos.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Recomendaciones de calidad.
        .sub-ecored.mt-5
            h3 Kanban
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img6.jpg", alt="").img-fluid
        .caja-azul
            p Es un sistema de programación y control que sincroniza la producción basándose en el uso de tarjetas,  consiste en colocar las tarjetas en cada contenedor de los materiales o piezas que describe su cantidad, cada proceso a medida de su sincronización va retirando los materiales que requiera, para llegar a su ensamble final; es una herramienta que asegura alta calidad y la producción en el tiempo adecuado.
            p Además, se pueden utilizar las tarjetas en los tableros, llamados “tableros Kanban”, en los cuales se visualiza de manera fácil el flujo de trabajo pues se organizan las actividades de producción, facilitando el seguimiento de los avances de cada proceso y la respuesta de las personas responsables, tal como se observa en la figura. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid
        p.mt-5 Las tarjetas Kanban son un mecanismo de comunicación de las órdenes de producción entre los diferentes puestos de trabajo, en las tarjetas se puede incluir su nombre, código de pieza, el lugar donde se fabricará, cantidad de piezas a producir, el lugar donde se almacenarán las prendas terminadas. 
        p.mt-5 #[strong En la siguiente figura se observa un ejemplo de la tarjeta:]
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img8.svg", alt="").img-fluid
        p.mt-5 Existen dos tipos de Kanban, el de producción que indica o autoriza qué y cuánto se debe confeccionar en el proceso posterior; y el de transporte que indica o autoriza qué y cuánto material se retira del proceso anterior. 
        p La finalidad del uso de estas tarjetas es conseguir un reaprovisionamiento del material vendido sin generar stocks innecesarios y por tanto disminuir desperdicio de inventario.
        .sub-ecored.mt-5
            h3 Justo a Tiempo (JIT)
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img9.jpg", alt="").img-fluid
        .caja-azul
            p Su filosofía consiste en producir según las necesidades del cliente en cuanto al tiempo y la cantidad eliminando los desperdicios relacionados en la línea de producción.
            p El método justo a tiempo se caracteriza por producir al ritmo del Tack Time, trabajar de manera estandarizada y utilizar el flujo de una pieza para detectar de manera temprana los errores y no en la inspección por muestreo.
        h3.mt-5 Takt time:
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img10.svg", alt="").img-fluid
            .col-6  
                p Conocido como los latidos del negocio, se calcula para sincronizar el ritmo de lo que se produce y lo que se vende, con el fin de cumplir al cliente, este es una de las quejas recurrentes del sector de confecciones, relacionado con el manejo del tiempo en las plantas de producción. 
                img.img-a(src="assets/images/pages/ilustraciones/img11.svg", alt="").img-fluid
        p.mt-5 El Takt Time, es la frecuencia con la que se fabrica una pieza o producto en función del ritmo de las ventas con el fin de satisfacer las necesidades del cliente. Es importante hacer la diferencia con el tiempo de ciclo porque el takt time es determinado por el cliente y el tiempo de ciclo es definido por la empresa. Es por lo anterior que las empresas deben tener un tiempo de ciclo menor al takt time, de allí el problema de incumplimiento de los pedidos y las necesidades de horas y turnos extras en las empresas sobre todo en lo que se llama la temporada alta del año. 
        h3.mt-5 En el siguiente ejemplo se puede observar el cálculo del takt time:
        p Una empresa de confección de pijamas tiene un pedido de 1000 unidades para entregar en 12 horas. 
        p En primer lugar se convierten las horas disponibles a segundos (43200 segundos). Luego se aplica la fórmula: 
        img.img-a(src="assets/images/pages/ilustraciones/img12.svg", alt="").img-fluid
        p.mt-5 Es decir, se debe producir una pijama cada 43,2 segundos.
        h3.mt-5 La metodología del JIT incluye el sistema push and pull:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p #[strong Sistema de empujar o Push System:] el ritmo de los procesos es determinado según un programa maestro de producción en el que las entregas son programadas según pronósticos previos, por tanto, es controlado por información a contracorriente del flujo de producción, es decir, se produce por si acaso, consumos anticipados, lotes grandes, inventarios altos y alto desperdicio.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p #[strong Sistema de jalar o Pull System:] las entregas son autorizadas, es controlado por información en dirección de la corriente del flujo de producción, es decir, según la demanda, por tanto, hay más precisión en la producción con consumos reales, lotes pequeños, inventarios bajos y reducción de desperdicios de los procesos.
        p.mt-5 Algunos de los beneficios que tiene la aplicación del método JIT son: 
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Reducción de inventarios hasta un 50%.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Reducción del tiempo del proceso entre el 50% y 70%.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Reducción en cambios de herramientas de 50% al 80% sin grandes inversiones en equipos y maquinaria.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Incremento de la productividad del 20% al 50%.
        .sub-ecored.mt-5
            h3 Trabajo estandarizado
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.jpg", alt="").img-fluid
        .caja-azul
            p La estandarización es la descripción eficiente del flujo del trabajo en términos de calidad, costo, cantidad y seguridad; combinado de manera efectiva con los recursos de mano de obra, maquina y equipos, insumos, textiles y materiales.
            p Se utilizan tres instrumentos para los componentes del trabajo estandarizado:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.svg", alt="").img-fluid
        p.mt-5 El trabajo estandarizado disminuye los desperdicios, se identifica el trabajo en proceso, ayuda en el cálculo de requerimiento de mano de obra, para atender los pedidos, apoya la administración visual del trabajo en procesos y los defectos que se presenten en ellos. Las herramientas de control estadístico apoyan la estandarización de los procesos, por eso son fundamentales en el desarrollo y aplicación de las metodologías del manufactura esbelta.
        .sub-ecored.mt-5
            h3 Flujo de trabajo
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img15.jpg", alt="").img-fluid
        .caja-azul
            p El flujo de productos, materiales e información debe ser continuo, para mantener la calidad de la producción, mejorando la flexibilidad y confiabilidad de los procesos, de esta manera se eliminan los paros y demoras de los productos para entregar al cliente. Suele suceder que cuando se realiza una inspección se detectan de manera tardía los defectos y se hace dispendioso cuantificar las unidades defectuosas, la ubicación de dichas unidades y la causa del defecto.
        p.mt-5 Con respecto a mejorar el flujo de los procesos, se debe adaptar el flujo de una pieza con el fin de detectar los defectos de manera inmediata, porque se detecta rápidamente los defectos en el lugar que se ocasiona y seguramente en la primera unidad defectuosa.
        p El flujo continuo se realiza en tres niveles:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img16.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img17.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img18.svg", alt="").img-fluid
        .sub-ecored.mt-5
            h3 Jidōka
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.jpg", alt="").img-fluid
        .caja-azul
            p Es un término japonés que significa automatización con un toque humano o también llamado autonomación, define un sistema de control autónomo para que los procesos tengan autocontrol de calidad, de allí que cuando se presente un problema de manera automática o manual el proceso se detiene para que no se sigan produciendo piezas defectuosas,  y se reanuda una vez se dé solución al problema para producir sin defectos y así se evite pasar al proceso siguiente. 
        p.mt-5 Con el uso de esta técnica se replantea el enfoque de la inspección, porque se centra en la prevención de los defectos y controlar los procesos, produciendo las piezas exactas sin unidades adicionales, disminuyendo los desperdicios de sobreproducción.
        p La autoridad de parar una línea de producción debe ser otorgada a un coequipero o al inspector con la capacidad de esa toma de decisión, quien pulse el botón de alerta ANDON, indica el problema e informa al equipo. 
        p Una máquina automatizada puede tener un dispositivo que detecta de manera automática piezas defectuosas, se detiene y requiere la intervención humana para analizar, corregir y establecer las demás acciones necesarias.
        p La aplicación de la técnica funciona de la siguiente manera:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Se detecta el defecto.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Se oprime el botón de alerta ANDON para detener el proceso. Teniendo  en cuenta el color de la alerta se actúa en concordancia, cuando el botón es verde la actividad es óptima, cuando el color es amarillo es una alerta en donde se debe realizar alguna corrección en las piezas, el inspector debe coordinar la acción, debido a que el proceso entra en demora, así mismo el responsable de la operación debe comunicar cuando se presente algún problema de manera temprana; y si es luz roja se detiene completamente la línea de producción, en donde todos los integrantes del equipo deben encontrar la solución factible.
        p.mt-5 En la siguiente tabla se pueden observar las 10 fases para la aplicación de la técnica de Jidōka:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.svg", alt="").img-fluid
        p.mt-5 Antes de examinar los procedimientos, se tienen en cuenta las diferentes Normas Técnicas Colombianas relacionadas, las cuales se debe aplicar dependiendo de la línea de producto, los insumos, los textiles y se incluyen las normas relacionadas con el control estadístico de calidad.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img21.svg", alt="").img-fluid
        p.mt-5 Las normas mencionadas en la tabla anterior son algunas con las cuales se tiene en cuenta para definir las características a inspeccionar, y junto con el listado de defectos establecido se concluye cuales son los niveles de aceptación de calidad.
        p Para la industria de la manufactura de confección se recomienda tener en cuenta los siguientes factores para los puntos de la inspección: 
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img22.svg", alt="").img-fluid
            .col-6  
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p En operaciones en donde se coloquen aditamentos, se ajusten guías.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Realizarla en una operación antes que sea difícil o costosa su corrección.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Mientras se está desarrollando una operación, llamada crítica por su alto costo y dificultad derivada de la precisión requerida.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p En puntos acordados por consenso con el equipo de trabajo debido a su desarrollo común en todos los procesos.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p En almacenamiento y embalaje
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p En suministros o almacén de insumos y materiales.
        p.mt-5 Además, es importante tener en cuenta que en cada proceso el coequipero tiene:
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img23.svg", alt="").img-fluid
            .col-6  
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Derecho de esperar material perfecto.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Obligación de inspeccionar el material antes de usarlo.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Obligación de informar los problemas a la operación o procesos anteriores.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Obligación de detener el procesos si es el caso para no seguir, hasta que sea resuelto el problema.
        p.mt-5 También es necesario realizar la planeación para tener cero defectos, teniendo en cuenta la utilización de cualquier herramienta de calidad en todos los recursos de la empresa como son: mano de obra, materiales, métodos, máquinas e información, la metodología Lean Manufacturing tiene como fin que no se presenten defectos en los productos; 
        p Algunas de las acciones de mejora bajo la metodología Lean Manufacturing se pueden ver en el siguiente gráfico:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img24.svg", alt="").img-fluid
        p.mt-5 Es importante tener clara la diferencia entre el proceso y procedimiento, el cual se puede observar en el siguiente paralelo:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid
        .sub-ecored#12.mt-5
            h2 1.2. Procedimiento de inspección de calidad con muestreo del lote por variables
        p.mt-5 En los procesos de inspección las variaciones dan como resultado diferentes medidas de una variable, las cuales tienen una distribución normal o gaussiana, se puede observar en el diagrama en forma de campana o de Gauss. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img27.jpg", alt="").img-fluid
        p.mt-5 Existen dos tipos de variables, las discretas y las continuas. Las variables discretas son aquellas que solo pueden tomar un valor dentro de un mínimo de conjunto numerable, es decir que no acepta cualquier valor, y las variables continuas toman un valor fijo dentro de un intervalo específico. Las diferencias de esas medidas dan como resultado los defectos, los cuales deben ser definidos contemplando el manejo de las tolerancias de dichas características, las cuales se aplican en los gráficos de control como los límites superiores e inferiores.
        p Se realiza inspección de calidad con muestreo de aceptación por variables cuando:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Se inspecciona una característica con la capacidad de convertirse con una escala medible.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p La inspección por atributos resulta más alta en su costo.
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Al realizar inspección por atributos no aporta suficiente información de calidad para ser analizada.
        p.mt-5 Algunos ejemplos de variables a inspeccionar en los productos de confección son:
        .jumbotron.color-rosa
            .list.mt-5
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p La medida de un ojal
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p El largo de una blusa
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Cantidad de botones en una camisa
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Ancho de una pretina
            .list
                .list__item
                    .list__item__icon
                        img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                .list__txt 
                    p Medidas de un bolsillo
        p.mt-5 En el siguiente cuadro pueden observar las ventajas y desventajas de la aplicación del muestreo por variables:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img28.svg", alt="").img-fluid
        p.mt-5 Para realizar el procedimiento se debe tener definido:  
        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img29.svg", alt="").img-fluid
            .col-8  
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Los lotes, los cuales están conformados por las unidades de los productos cuyas características deben ser las mismas, lo cual genera homogeneidad y garantiza la evaluación de calidad, así mismo se debe definir su tamaño. 
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p El plan de muestreo teniendo en cuenta la muestra, su tamaño y los criterios de aceptación, así como los programas y sistema de muestreo.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Definir el tipo de inspección a usar según el lote, sea normal, estricta o reducida, además deben describirse las reglas en el caso necesario de los cambios generados por los resultados arrojados por la inspección. Posteriormente realizar la inspección de cada prenda que conforma la muestra.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Definir el Nivel Aceptable de Calidad (NAC), el cual depende del tamaño de la muestra y dependiendo de las características a inspeccionar definidas, puede ser diferente, pero el NAC no puede ser superior a 10%.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Definir el nivel de inspección, si se utilizan los de tipo general: I, II o III, en el caso de muestras pequeñas para ensayos se utilizan: S1, S2, S3 o S4.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Determinar el tipo de plan de muestreo, si es simple, doble o múltiple, los cuales pueden observarse en las tablas 2, 3 y 4 de la Norma ISO 2859-1.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Desarrollar la curva de operación y recolectar los datos del proceso. 
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Tabular la información recolectada en las tablas de frecuencias, así mismo  graficar histograma, gráfico de control entre otras herramientas estadísticas.
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Análisis de los datos
                .list
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
                    .list__txt 
                        p Presentación de resultados
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img30.svg", alt="").img-fluid
        .sub-ecored#13.mt-5
            h2 1.3. Procedimiento de inspección de calidad con muestreo del lote por atributos
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img31.jpg", alt="").img-fluid
        .caja-azul
            p Los atributos no pueden ser representados por una cifra, solo pueden ser inspeccionados de manera visual. Es importante tener definidos los defectos, las cantidades y niveles, para así determinar, cuándo la prenda es rechazada y cuando es aceptada. El procedimiento se desarrolla de manera igual a la inspección realizada por variables.
        p.mt-5 Es importante asegurar por métodos estadísticos, basados en modelos de probabilidad que el comportamiento de la muestra es igual al lote, en cuyo caso se utilizan las curvas de operación llamadas Curva OP, para tomar decisiones en el lote.
        p La curva característica de operación OP es la muestra del desempeño potencial del plan de muestreo, es decir su confiabilidad, se puede analizar el riesgo del consumidor y el fabricante mediante el cálculo de la probabilidad de aceptar o rechazar el lote con una calidad establecida. Para calcular la CO se procede de la siguiente manera:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.svg", alt="").img-fluid
        p.mt-5 En el siguiente gráfico se puede observar el flujograma del procedimiento de inspección por muestreo por atributos utilizando las tablas militares difundidas según la Norma ISO 2859-1, norma basada en la curva de operación: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img33.svg", alt="").img-fluid
        p.mt-5 La descripción del procedimiento es el siguiente:
        .list.mt-5
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Los lotes, conformados por las unidades de los productos cuyas características deben ser las mismas lo cual genera homogeneidad y garantiza la evaluación de calidad. A su vez el tamaños de lotes, definiendo las unidades de los productos del lote.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Definir el plan de muestreo teniendo en cuenta la muestra, su tamaño y los criterios de aceptación, así como los programas y sistema de muestreo. El tamaño de la muestra debe ser conforme el uso de las tablas de la Norma ISO 2859-1. 
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Realizar la inspección de cada prenda que conforma la muestra.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Definir el tipo de inspección a usar según el lote, sea normal estricta o reducida, además deben describirse las reglas en el caso necesario de los cambios generados por los resultados arrojados por la inspección.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Definir el Nivel Aceptable de Calidad (NAC) el cual depende del tamaño de la muestra y dependiendo de la características a inspeccionar puede ser diferente de un lote a otro, pero el NAC no puede ser superior a 10%.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Definir el nivel de inspección, si se utilizan los de tipo general: I, II o III; en el caso de muestras pequeñas para ensayos los S1, S2, S3 o S4.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Determinar el tipo de plan de muestreo: simple, doble o múltiple, los cuales pueden observarse en las tablas 2, 3 y 4 de la Norma ISO 2859-1, de su material complementario.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Utilizando las tablas contenidas en la NTC-ISO 2859-1 se define el plan de muestreo.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Se recolectan los datos y se tabula la información en las tablas de frecuencias.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Se desarrollan gráficos de histograma, grafico de control entre otras herramientas estadísticas.
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Se desarrolla curva de operación
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Análisis de los datos
        .list
            .list__item
                .list__item__icon
                    img(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p Presentación de resultados
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img34.svg", alt="").img-fluid
        p.mt-5 Una vez se establezca el procedimiento de los muestreos este debe estar documentado en un documento cuyo formato esté previamente definido, los cuales junto con los demás procedimientos forman parte del manual de calidad de la empresa, y se constituyen en la información para controlar los procesos y se debe garantizar su custodia y disponibilidad. 
        section.mt-5