.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Andon: 
            | señal de alerta que se activa al parar una línea de producción.
        hr
        p
            strong.mr-2 Estandarización:
            | descripción escrita o gráfica de las características de un producto o proceso con el fin de hacer un producto de calidad más fiable, seguro, de menos precio y producirlo de manera más rápida.
        hr
        p
            strong.mr-2 Flujo de valor:
            | movimiento de los productos, servicios e información hacia el cliente.
        hr
        p
            strong.mr-2 Procedimiento:
            | es la manera como se realiza el proceso.
        hr
        p
            strong.mr-2 Proceso:
            | listado de operaciones o actividades que utiliza unos recursos y se realiza algún cambio.
        hr
        p
            strong.mr-2 Programa de muestreo:
            | combinación de los muestreos planeados y las normas para el cambio de un tipo de plan a otro.
        hr
        p
            strong.mr-2 Riesgo del productor:
            | probabilidad de la no aceptación del lote según el nivel de calidad aceptable.
        hr
        p
            strong.mr-2 Sistema de muestreo:
            | conjunto de planes o programas de muestreo que se interrelación entre sí.
        hr
        p
            strong.mr-2 Tiempo de ciclo:
            | tiempo requerido para producir una pieza o producto. 
        hr
        p
            strong.mr-2 WIP:
            | cantidad de unidades en proceso, utilizando la herramienta kanban.
