.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Dobladillo:
            | es el borde de la tela doblada dos veces sobre sí misma y asegurada con puntadas a mano o a máquina en la parte inferior de faldas, vestidos, pantalones y orillos de mangas etc.
        p
            strong.mr-2 Empalme / empate:
            | sobreponer unas puntadas sobre otras ya existentes. 
        p 
            strong.mr-2 Guías:
            | accesorios acondicionados a las máquinas para facilitar y agilizar el trabajo y la terminación de las prendas.
        p 
            strong.mr-2 #[i Looper]:
            | garfio, pieza que se enhebra hilo para formar lazada.
        p
            strong.mr-2 Motor de #[i clutch]:
            | se utiliza para máquinas de coser industriales, este motor maneja diferentes rpm que varían dependiendo de la clase de máquina.
        p
            strong.mr-2 Prehormar:
            | planchar las piezas de los bolsillos doblando los orillos de acuerdo con el ancho de costura, se utiliza una plantilla para que quede conforme a las medidas especificadas.
        p 
            strong.mr-2 Presilla:
            | costura en zigzag, usada para reforzar otra costura sobre la cual se coloca o una pieza, para evitar se descosa o exista desgarre (rompa) de material.
        p 
            strong.mr-2 Proceso:
            | son las diferentes etapas que se requieren y siguen para elaborar un producto.          