.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Eduardo Stefanelii, (s.f.) Uso del calibre, calibrador o pie de rey.
                    td Artículo web
                    td 
                        a(href="https://www.stefanelli.eng.br/es/uso-calibre-pie-rey/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td El oráculo electrónico, (2015) Conversión de pulgadas a centímetros y a milímetros.
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=IHmkdkL3Ny0", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Escuela Europea de Formación Empresarial, S.A. (2012) Preparación de herramientas, máquinas y equipos para la confección de productos textiles. IC Editorial.
                    td Biblioteca SENA / e-book 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=8342&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Gómez, S. (2020). Asesoría, Diseño, Fabricación de todo tipo de FOLDERS - Guías para máquinas de coser. 
                    td Blog 
                    td 
                        a(href="http://aditamentossaulgomez.blogspot.com/.", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Matilde Cabezalí Hernández, (2013). Materiales, herramientas, máquinas y equipos de confección. IC Editorial.  
                    td Biblioteca SENA / e-book
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=8534", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td MCJ Medellín (2017). Proceso de lavado CHD (vaqueros en lavandería) 
                    td Video YouTube
                    td 
                        a(href="https://youtu.be/XKOQjmZ6tr8", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Pasos creativos, (2014) Aprende a usar pulgadas
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=JZ11XcEoMhc", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Profe Suescún, (2018), Todo sobre agujas para máquinas de coser
                    td Video YouTube
                    td 
                        a(href="https://youtu.be/67kMAo83D0A", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
            
                tr
                    td Rápida Sistemas Integrales, S.A. (s.f.) Prensatelas
                    td PDF
                    td 
                        a(href="media/documentos/documentos/Prensatelas_Rapida_sistemas_integrales.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td SCHMETZ (s.f.) Puntas redondas/Agujas para coser tejidos
                    td PDF
                    td 
                        a(href="media/documentos/documentos/SCHMETZ_Puntas-redondas_agujas_coser_tejidos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar