.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody


                tr
                    td ICONTEC, (1994). NTC-ISO 2859-2:1994. Procedimientos de muestreo para inspección por atributos. Parte 2. Planes de muestreo determinados para la calidad limite (CL) para la inspección de un lote aislado.
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6226", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               




                tr
                    td ICONTEC, (2002). NTC-ISO 2859-1:2002. Procedimientos de muestreo para inspección por atributos. Parte 1: planes de muestreo determinados por el nivel aceptable de calidad -NAC- para inspección lote a lote.
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6224", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               



                tr
                    td ICONTEC, (2008). NTC 2062-1:2008. Estadística. Vocabulario y símbolos. Parte 1. Términos estadísticos generales y términos utilizados en el cálculo de probabilidades.
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=1306", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               




                tr
                    td ICONTEC, (2014). NTC-ISO 2859-3:2014. Procedimientos de muestreo para inspección por atributos. Parte 3. Procedimientos de muestreo intermitentes
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6227", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               



                tr
                    td ICONTEC, (2015). NTC-ISO 3951-1:2015. Procedimientos de muestreo para inspección por variables. Parte 1: especificación para planes de muestreo simple clasificados por nivel aceptable de calidad (NAC) para inspección lote a lote para una característica de calidad única y un solo NAC.
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6256", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               



                tr
                    td ICONTEC, (2015). NTC-ISO 3951-2:2015, procedimientos de muestreo para la inspección por variables. Parte 2: especificación general para los planes de muestreo simples tabulados según el nivel aceptable de calidad (NAC) para la inspección lote a lote de características de calidad independiente
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6257", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               



                tr
                    td ICONTEC, (2015). NTC-ISO 3951-3:2015. Procedimientos de muestreo para inspección por variables. Parte 3: Esquemas de muestreo doble indexados por nivel aceptable de calidad (NAC) para inspección lote a lote
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=76592", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               



                tr
                    td Martínez Zapata, M. Ángel, & Colorado Cano, J. G. (2015). Takt Time, el corazón de la producción. Vía Innova, (2), 60-62. 
                    td PDF 
                    td 
                        a(href="media/documentos/Tack_time_El_corazon_de_la_produccion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               

                tr
                    td SENA (2020) Ejemplo 1. Muestreo por variables 
                    td Archivo Word 
                    td 
                        a(href="media/documentos/muestreo_por_variables.docx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               

                tr
                    td SENA (2020) Ejemplo 2. Muestreo por atributos 
                    td Archivo Word
                    td 
                        a(href="media/documentos/Muestreo_por_atributos.docx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               

                tr
                    td SENA (2020) Ejemplo 1. Cálculo y gráfico
                    td Archivo Excel 
                    td 
                        a(href="media/documentos/Ejemplo_1_calculo_y_grafico.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               

                tr
                    td SENA (2020) Ejemplo 2. Cálculo y gráfico 
                    td Archivo Excel 
                    td 
                        a(href="media/documentos/Ejemplo_2_calculo_y_grafico.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
               
