include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("COATS Group. (2020) Todo sobre agujas. COATS.", "https://www.coats.com/es/Information-Hub/Needles-101")
        +referenciaItem("Escamilla Esquivel, A. (2015). Metrología y sus aplicaciones. Grupo Editorial Patria.", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/39456?page=51")
        +referenciaItem("Gómez, S. (2020, 5 julio). Asesoría, Diseño, Fabricación de todo tipo de FOLDERS - Guías para máquinas de coser.", "http://aditamentossaulgomez.blogspot.com/.")
        +referenciaItem("Groz-Beckert. (2020) Sewing machine needles for the clothing industry Groz-Beckert", "https://www.groz-beckert.com/en/products/sewing/bekleidungsindustrie/.")
        +referenciaItem("Groz-Beckert. (2019). Sewing machine needles for the apparel industry (p. 6)", "https://www.groz-beckert.com/mm/media/en/web/pdf/Sewing_machine_needles_for_the_apparel_industry.pdf.")
        +referenciaItem("ManualsLib. Brother ZM-851A Máquina zigzadora Manual de instrucciones (p. 15)", "https://www.manualslib.com/manual/442708/Brother-Zm-851a.html?page=15#manual.")
        +referenciaItem("ManualsLib. Enhebrado de la máquina - JUKI MO-6704D Manual de instrucciones. (p. 5, 40) ", "https://www.manualslib.com/manual/559355/Juki-Mo-6704d.html?page=40#manual.")
        +referenciaItem("ManualsLib. Etiquetas de advertencia - Brother T-8422A Manual de instrucciones (p.5)", "https://www.manualslib.com/manual/442249/Brother-T-8422a.html?page=5#manual.")
        +referenciaItem("ManualsLib. Nombre de las piezas principales - Brother DA-9280 Manual De Instrucciones. Máquina de brazo de tres agujas (2 agujas) de cadeneta (p. 8)", "https://www.manualslib.com/manual/482480/Brother-Da-9280.html?page=8#manual.")
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            