include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias

        +referenciaItem("Definición de Jidoka: Control automático de defectos. (2020).", "https://leanmanufacturing10.com/jidoka")

        +referenciaItem("Duque de Serna, F. (1990). Procedimientos para el control de la calidad. Servicio Nacional de Aprendizaje (SENA). ", "https://hdl.handle.net/11404/4260")

        +referenciaItem("Evans, J. y Lindsay, W. (2015). Administración y Control de la calidad  (9ª ed.). Cengage.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=786")

        +referenciaItem("Gómez, J. (2018). Guía para la aplicación de ISO 9001 2015  (1ª ed., Págs. 268 a 280). AENOR.", "https://www-alfaomegacloud-com.bdigital.sena.edu.co/auth/ip?intended_url=https://www-alfaomegacloud-com.bdigital.sena.edu.co/library/ publicación / guía para la aplicación de ISO-9001-2015")

        +referenciaItem("Gutiérrez Pulido, H. (2013). Control estadístico de la calidad y Seis Sigma  (3ª ed.). McGraw-Hill Interamericana. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=280")

        +referenciaItem("Hay, E., & Cárdenas, M. (2003). Justo a tiempo la técnica japonesa que genera mayor ventaja competitiva. Editorial Norma.")

        +referenciaItem("Heijunka: Cómo nivelar la producción con lean manufacturing. (2020). ", "https://leanmanufacturing10.com/heijunka-como-nivelar-la-produccion-con-lean-manufacturing")

        +referenciaItem("Pérez Marqués, M. (2016). Control de calidad técnicas y herramientas (1ª ed.,). México. Alfaomega grupo editor.")

        +referenciaItem("Que es Kanban: definición, características y ventajas. (2020). ", "https://kanbanize.com/es/recursos-de-kanban/primeros-pasos/que-es-kanban")

        +referenciaItem("Rajadell Carreras, M., & Sánchez García, J. (2010). Lean manufacturing (1ª ed.,). Ediciones Diaz Santos. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3883")

        +referenciaItem("Rodó, P. (s.f.) Distribución normal", "https://economipedia.com/definiciones/distribucion-normal.html#")

        +referenciaItem("Socconini, L. V. (2019). Lean Manufacturing: paso a paso. Marge Books.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/117567")
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            